{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}

{% block content %}

<div class="about-container" style="display: flex; flex-wrap: wrap; justify-content: center; background-color: #C3D5E5; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
  <div style="flex: 1; margin: 20px;">
    <h2 style="color: #735DA5; font-weight: bold; margin-bottom: 10px;">About Me</h2>
    <p style="font-size: 18px; color: #444; margin-bottom: 20px; padding: 10px;">As a web developer and programmer, I craft innovative solutions that bridge the gap between technology and creativity. With a passion for coding, I bring ideas to life with clean, efficient, and scalable code. When I'm not coding, you can find me immersed in the virtual world, exploring new games and pushing my skills to the limit. With a unique blend of technical expertise and gaming enthusiasm, I'm always looking for new challenges and opportunities to level up my skills. Let's build something amazing together!</p>
  </div>
</div>
{% endblock %}