{% extends "base.html" %}

{% block title %}
<title>Privacy Policy</title>
{% endblock %}

{% block content %}
    <div style="max-width: 1200px; margin: auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); transition: all 0.3s ease-in-out;">
        <h1 style="color: #735DA5; text-align: center; font-size: 2.5em; margin-bottom: 20px;">Privacy Policy</h1>
        <p style="font-size: 1.1em; margin-bottom: 20px;">This Privacy Policy outlines the types of personal information I collect, how I use it, and the steps I take to protect it. By using this website, you agree to the terms of this Privacy Policy.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Information Collection and Use</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">When you visit this website, certain information is automatically collected to help improve your experience. This includes non-personal data such as your IP address, browser type, and pages viewed. This information is used to analyze trends, administer the site, track user movements, and gather demographic information. These data points are not linked to any personally identifiable information.</p>
        <p style="font-size: 1.1em; margin-bottom: 20px;">If you choose to leave comments or contact me directly, I may collect personal information such as your name, email address, and any other details you provide. This information is used solely for the purpose of responding to your inquiries, sending newsletters (if you have opted in), or improving the content of this website. I will never sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Cookies</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">This website uses cookies to enhance user experience. Cookies are small files that are stored on your device when you visit a website. They help the site remember your preferences and provide a more personalized experience. You can set your browser to refuse cookies or alert you when cookies are being sent. However, some features of the blog may not function properly without cookies.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Third-Party Services</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">This website may include links to third-party websites or services that are not operated by me. I have no control over these sites and am not responsible for their content or privacy practices. I recommend reviewing the privacy policies of any third-party sites you visit.</p>
        <p style="font-size: 1.1em; margin-bottom: 20px;">Additionally, this website may use third-party services for analytics, advertising, or content delivery. These third parties may use cookies, web beacons, or other tracking technologies to collect information about your activities on this blog and other websites. This information may be used to provide advertisements tailored to your interests or to measure the effectiveness of advertising campaigns. I do not have access to or control over the data collected by these third parties.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Data Security</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">I take the security of your personal information seriously. I implement appropriate technical and organizational measures to protect your data from unauthorized access, disclosure, alteration, or destruction. However, please be aware that no method of transmission over the Internet or method of electronic storage is 100% secure. While I strive to use commercially acceptable means to protect your personal information, I cannot guarantee its absolute security.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Children's Privacy</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">This website is not intended for children under the age of 13. I do not knowingly collect personal information from children under 13. If I become aware that I have inadvertently received personal information from a child under 13, I will delete such information from my records.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Changes to This Privacy Policy</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">I may update this Privacy Policy from time to time to reflect changes in the website or legal requirements. Any updates will be posted on this page with an updated revision date. I encourage you to review this Privacy Policy periodically to stay informed about how your information is protected.</p>

        <h2 style="color: #735DA5; font-size: 1.8em; margin-top: 30px; margin-bottom: 10px; border-bottom: 2px solid #C3D5E5; padding-bottom: 10px;">Contact Information</h2>
        <p style="font-size: 1.1em; margin-bottom: 20px;">If you have any questions or concerns about this Privacy Policy or the handling of your personal information, please contact me via the contact form on this blog.</p>

        <div style="text-align: center; margin-top: 30px; padding: 10px; background-color: #735DA5; color: #fff; border-radius: 8px;">
            <p><strong>Last Updated:</strong>Aug,28 2024 At 05:46am </p>
        </div>
    </div>
{% endblock %}